.homepage {
    width: 100%;
    min-height: 100vh;
    background: #29216B;
    display: flex;
    flex-direction: column;

    .navbar {
        background: #29216B;
        padding-left: 40px;
        padding-top: 20px;
        .navbar-item {
            color: white;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 40px;
            gap: 10px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding: 40px;
        h1, h2 {
            color: white;
            font-style: normal;
            font-weight: 600;
            font-size: 100px;
            line-height: 120px;
        }
        h1 {
            color: #A49BEC;
        }
    }
}
