@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '../../styles/utils/mixins.scss';
.container {
    width: 80%;
    .movie {
        width: 100%;
        height: 400px;
        display: flex;
    
        background-color: #29216B;
    
        &__img {
            flex-grow: 1;
    
            background-color: #BCD1FF;
        }
    
        &__body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            background-color: #16113B;
    
            flex-grow: 1;
            color: white;
            
    
            &--title {
                font-size: 40px;
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
    
}
